@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap");

/* --------------- */
.page {
  padding: 3.5rem 0;
  background: #318fb5;
}

.page-inverted {
  padding: 3.5rem 0;
  background: #fff;
}

/* --------------- */
.MuiCardActions-spacing {
  justify-content: space-around;
}

.jss168 {
  width: 60%;
  height: auto;
  flex-grow: 1;
}

.loading-modal {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
}
